body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    margin: 0;
}

h2, h3 {
    color: #333;
}

h2{
    margin-bottom: 50px;
}

h3{
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: " - ";
    margin-left: 20px;
}

li{
    margin-top: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image-iut{
    width: 50%;
}

.title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 500px;
}

h2 + .title{
    margin-top: 200px;
}

.title + h2{
    margin-bottom: 200px;
}

.logo{
    float: right;
}

.map{
    width: 100%;
}